body{
	background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.9)), url(https://images.unsplash.com/photo-1519751138087-5bf79df62d5b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXw5MDcwMDQ1OXx8ZW58MHx8fHw%3D&w=1000&q=80);
	background-repeat: no-repeat;
	background-size: 100%100%;
	background-attachment: fixed;

}

table,th,td{
	border: 2px solid lightpink;
	border-collapse: collapse;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 50px;
    margin-left: 50px;
    
    
}

.m{
	border: 9px ridge #e8aebd;
}

#a{
	border: 3px ;
	margin-bottom: 40px;
	font-size: 25px;
	font-family: Indie Flower;
}

#b{
	text-shadow: 16px 15px 5px lightpink;
	font-size: 50px;
	font-family: Academy Engraved LET;
	margin-top: 60px;
	margin-bottom: 40px;

}

#c{
	font-family: Baskerville;
	font-size: 20px;
	margin-bottom: 50px;
	margin-top: 50px;
	margin-left: 70px;
	margin-right: 70px;

}
.picture{
	border: 5px solid lightpink;
}

.one{
	border: 10px double #f0d8dc;
}

.e{
	float: left;
    width: 20%;
    text-align: center;
}

#two{
	text-shadow: 16px 15px 5px lightpink;
	font-size: 50px;
	font-family: Academy Engraved LET;
	margin-top: 60px;
	margin-bottom: 40px;
}

.three{
	float: left;
	width: 11%;
    text-align: center;
}

.h{
	font-size: 30px;
}

.ten{
	background-color: #bdbae8;
}

.j{
	background-color: #b0cae8;
}

.o{ 
	margin-top: 5px;
	font-size: 10px;
}
#h{
	font-size: 30px;
	margin-top:50px;
	margin-bottom: 25px;
}



.k{
   font-size: 15px;
   text-align: left;
}

.v{
	text-shadow: 15px 15px 9px lightpink;
	border: 5px ridge lightpink;
	font-size: 50px;
	font-family: Academy Engraved LET;
    color: black;
    text-decoration: none;  
   
    padding-top: 55px;
    padding-bottom: 30PX;
    padding-left: 60PX;
    padding-right: 60PX;
    margin-bottom: 100px;
  }

.v:hover{
	background-color: #e3cfd8;

}

.f{
	margin-bottom: 240px;
}
.w{
	margin-top: 240px;
}

#O{
	text-shadow: 20px 20px 2px lightpink;
	margin-top: 100px;
	font-family: Dancing Script;
	font-size: 40px;
	color: #5c4952;
}

.nevigation{
    border-radius: 40px;
	text-decoration: none;
    background-color: #5c4952;
    color: #c3dae0;
    padding: 10px;
    margin-left: -1px;
}
.nevigation:hover{
	background-color: #c9abbb;
}

.l{
	
	text-decoration: none;
	color:#5c4952 ;
}
.l:hover{
   background-color: #d9c5d5;
}

.side{
    float: left;
    width: 33%;
    text-align: center;
}

.did{
    border: 11px ridge lightpink ;
}


.s,.k,#c,.r {text-indent:50px;}

.i,.j{
	background-color:#b0cae8 ;
	font-size: 20px;
	font-family:PT Serif ;
}

.k,.l{
	font-family:PT Serif ;
}

.qq{
	background-color:#b5b0bf;
}
.qq:hover{
	background-color:#807c87;
}

.r{ 
    margin-left: 70px;
    margin-right: 70px;
    font-family: EB Garamond;
    font-size: 25px;
}

#hg{
	margin-bottom: 60px;

}



.oo{
	font-size: 15px;
}

.ppp{
	font-family: Indie Flower;

}

.ll{
	margin-top: 30px;
}

.ddd{

	font-family: Indie Flower;
	font-size: 30px;
}

.zz{
	margin-top: 20px;
	border: 10px double #f0d8dc;
}

#n{
	border: 10px double #f0d8dc;
	margin-top: 20px;
	margin-bottom:10px;
}
.hhh{

	margin-top: 60px;
	margin-bottom: 20px;
	font-family: Indie Flower;
	font-size: 30px;

}
.dddd{
	font-family: Indie Flower;
	font-size: 30px;
	margin-top: 40px;
	margin-bottom: 30px;

}
.ddddd{
	font-family: Indie Flower;
	font-size: 30px;
	margin-top: 40px;
	margin-bottom: 50px;

}


.dddddd{
	font-family: Indie Flower;
	font-size: 30px;
	margin-top: 290px;
	padding-bottom: -100px ;
	
}


.jjj{

	font-size: 30px;
	margin-top: 40px;
	margin-bottom: 20px;
	font-family: Playfair Display;
}


.u{

	border: 1px solid #a8747f;
	border-radius: 20px;
	 text-decoration: none;
    background-color: #fff0f2;
    color:#69496b ;
    padding: 10px;
    margin-left: 5px;


}



.u:hover{
	background-color: #c4cfff;
}




